@import '../../index.scss';

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  overflow: auto;
}

.deviceFrame {
  width: 420px;
  height: 900px;
  background-color: var(--surface-color);
  border-radius: 80px;
  border: 6px solid var(--tertiary-color);
  // скрывает элементы вышедшие за края контейнера
  overflow: hidden;
}

.statusBar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: white;
}

.information {
  display: flex;
  gap: 5px;
}

.deviceContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.rowContent {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  min-height: 130px;
  padding: 12px 12px 0 12px;
  margin-left: 10px;
  border-radius: 15px;
  background: var(--secondary-color);
}

